@{
    ViewData["Title"] = "Home Page";
}

<h1 id="helloworld">Hello world</h1>
<canvas id="canvas" width="1000" height="500" onclick="myFunction()"></canvas>
<script src="~/bundle/script.js"></script>

<script>
    function myFunction() {

    }
</script>
